.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  position: relative;

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: none;
  }

  & > * {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: none;
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    shape-outside: circle();
    float: left;
    clip-path: circle();
    translate: -3rem;
  }

  &__img {
    height: 100%;
    translate: -4rem;
    scale: 1.4;
    transition: all 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% 20%;
    color: $color-white;
    text-transform: uppercase;
    text-size-adjust: 1.7rem;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    translate: -50% -50%;
  }

  &:hover &__img {
    scale: 1;
    filter: blur(3px) brightness(80%);
  }
}
